*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin:0 ;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;

}

h1{
  font-family: 'Original Surfer', cursive;
  font-size: 60px;
  color: crimson;
  font-style: italic;
}

span{
  color: yellowgreen;
}


nav ul{
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-weight: bolder;
background-color: black
}
ul li{
  display: inline;
  float: left;
}
li a{
  display: block;
color: rgb(79, 221, 50);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover{
  color:rgb(26, 141, 64);
  text-decoration: none;
}
.nav{
  border: 3px 3px transparent;
  box-shadow: 5px 5px 10px rgb(196, 88, 69);
  position: relative;
}

h2{
  font-family: 'Original Surfer',cursive;
  font-size: 70px;
    text-align: center;
    color: rgb(182, 25, 20);
    text-shadow: 3px 3px 5px black;
}

.home{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 350px;
}

h3{
  text-align: justify;
  font-size: 70px;
  font-family: 'Goudy Bookletter 1911', serif;
  color: yellowgreen;
}

p{
  color: blueviolet;
  text-align: center;
  font-weight: bolder;
  font-family: 'Goudy Bookletter 1911', serif;
}

#image1{
  margin-right: 3%; 
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.2s;
}

#image1:hover{
  box-shadow: 0 0 4px 3px;
  transition: 0.5s;
}

#image1 img{
  border-radius: 10px;
}

#image1 img:hover{
  transform: scale(1.2);
  transition-delay: 0.1s;
 
}
.row{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row div{
  width: 450px;
}

h4{
  text-align: center;
  font-family: 'Goudy Bookletter 1911', serif;
  color: #9acd32;
  font-size: 70px;
}

/*orders*/
h5{
  text-align: center;
  color: yellowgreen;
  font-size: 70px;
  font-family: 'Goudy Bookletter 1911',serif;
  font-style: italic;
}

.orders{
  background-color: chocolate;
  font-size: 20px;
  font-family: 'Original Surfer',cursive;
  height: inherit;
  padding: 20px;
  border-radius: 20px;
}
/*menu*/
h7{
  color: coral;
  font-size: 30px;
  font-family: 'Original Surfer',cursive;
}

/*order summary*/
h6{
  color: black;
  font-size: 30px;
  font-family: 'Original Surfer', cursive;
  font-style: italic;
}
/*card-footer*/
h9{
  font-family: 'Goudy Bookletter 1911',serif;
  font-size: 50px;
  color: #9acd32;
  text-align: center;
  margin-left: 500px;
}

.checkout{
  border-radius: 20px;
  margin-top: 20px;
}
.socials{
  margin-left: 500px;
  font-size: 50px;

}
.button{
  border-radius: 20px;
  margin-top: 20px;
}
  







